.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  padding: 45px 0 60px 0;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .page {
    padding: 45px 0 60px 0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .page {
    padding: 45px 0 60px 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .page {
    padding: 28px 0 36px 0;
  }
}