.popup__container {
  position: relative;
  width: 430px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 195px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .popup__container {
    max-width: 282px;
    margin: 122px auto 0 auto;
  }
}