.profile__add-button {
  border: 1px solid #FFFFFF;
  height: min-content;
  padding: 14px 64px;
  background-color: black;
}

.profile__add-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
 
@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__add-button {
    width: 100%;
  }
}