.image-popup__clouse {
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    padding: 0;
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    border: none;
  }
  
  .image-popup__clouse:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .image-popup__clouse {
      width: 20px;
      height: 20px;
      background-size: 20px;
      top: -36px;
      right: 0;
    } 
}