.popup__clouse {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  padding: 0;
  background: none;
  border: none;
}
 
@media screen and (max-width: 767px) and (min-width: 320px) {
  .popup__clouse {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
